body {
    display: flex;
    color: white;
    background-color:wheat;
}

a {
    color: white;
    text-decoration-line: none;
}
ul {
    list-style-type: none;
}

body{
    display: inherit;
}

#page-title {
    display: inline-block;
    font-family: 'Playfair Display SC', serif;
    }

h1 {
    width:100%;
    text-align: center;
    margin-bottom: 5px;
    border: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 10em;
}

h2 {
    text-align: center;
    margin-top: 5px;
    padding: 5px;
}

p {
    display: inline-block;
}

#our-story-photo {
    background-color: black;
    width: 50%;
    height: 25%;
    margin-left: 20%;
}

#josh-lacey {
    padding: 10px;
}

img {
    max-width: 100%;
  }
  
  body {
    line-height: 1.5;
    font-size: 100%;
    color: #313131;
  }
  
  main {
    margin: 0 20px;
  }
  
  hr {
    margin: 1em;
    width: 80%;
  }